NODE_ENV="development"
PORT="3000"
DATABASE_URL="postgresql://kt_user:kt_password@localhost:5433/kt_archive"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="replace_me_with_openssl_rand_hex_32"
AUTH_SECRET="replace_me_with_openssl_rand_hex_32"
ADMIN_NAME="Главный администратор"
ADMIN_EMAIL="admin@kt-archive.local"
ADMIN_PASSWORD="StrongPassword123!"
UPLOADS_DIR="./uploads"
DB_PORT="5433"
